@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

/* UNIVERSAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* FONTS */

p {
    font-family: "Work Sans", "Helvetica", sans-serif
}

.column1 {
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.symbol {
    font-family: "Noto Sans Symbols 2";
}


.numeral-small,
.symbol {
    font-weight: 600;
    font-size: 2rem;
}

.column3 {
    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: 0.05rem;
}

small {
    font-weight: 700;
    font-size: 1rem;
}

/* GRIDS + WHITE SPACE */

body {
    display: flex;
    align-content: center;
}

.container {
    margin: 6rem auto;
    display: grid;
    grid-template-columns: 6fr 8fr 2fr 2fr 2fr 4fr;
    grid-template-rows: repeat(9, 3.66rem);
    /*    background: lightgray;*/
    grid-gap: 0.05rem;
    height: 33rem;
    width: max(57rem);
}

.container div p {
    margin: 0.25rem;
    /*    background: white;*/
}

.column1 {
    grid-column: 1;
}

.column1 div {
    display: inline-flex;
}

.column1 div p:first-child {
    margin-right: 0.5rem;
}

.column1:nth-of-type(1) {
    /*    background: beige;*/
    grid-row-start: 1;
    grid-row-end: 4;
}

.column1:nth-of-type(2) {
    /*    background: green;*/
    grid-row-start: 4;
    grid-row-end: 7;
}

.column1:nth-of-type(3) {
    /*    background: beige;*/
    grid-row-start: 7;
    grid-row-end: 10;
}

.column1-a {
    grid-column: 2 / 2;
    grid-row-start: 4;
    grid-row-end: 7;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start
}

.verticalbar {
    background: black;
    width: 4rem;
    height: 1rem;
    position: relative;
    top: 1.75rem;
}

.crossbar {
    background: black;
    width: 1rem;
    height: 4rem;
    position: relative;
    top: -0.75rem;
    left: 1.5rem;
}

.minus {
    background: black;
    width: 4rem;
    height: 1rem;
    position: relative;
    left: 0;
    bottom: -45%;

}

.column2 {
    grid-column: 2;
    display: flex;
    padding-right: 0.5rem;
    align-items: center;
    justify-content: flex-end;
}

.column2 p {
    font-weight: 700;
    font-size: 16rem;
    letter-spacing: -1.25rem;
}

.alignright p {
    text-align: right;
}

.column2.row1 {
    /*    background: green;*/
    grid-row-start: 1;
    grid-row-end: 4;
}

.column2.row2 {
    /*    background: red;*/
    grid-row-start: 4;
    grid-row-end: 7;
}

.column2.row3 {
    /*    background: blue;*/
    grid-row-start: 7;
    grid-row-end: 10;
}

.zero {
    border: solid;
    border-width: 1.25rem;
    border-radius: 4rem;
    margin: 0.25rem 0.5rem 0 0.5rem;
    grid-row-start: 1;
    grid-row-end: -1;
}

.loop1 {
    grid-column: 3;
}

.loop2 {
    grid-column: 4;
}

.loop3 {
    grid-column: 5;
}


.column3 {
    grid-column: -2;
    text-align: right;
    white-space: nowrap;
}

.column3.row1 {
    /*    background: red;*/
    grid-row-start: 2;
    grid-row-end: 3;
}

.column3.row2 {
    /*    background: red;*/
    grid-row-start: 5;
    grid-row-end: 7;
    line-height: 0.9rem;
}

.column3.row3 {
    /*    background: red;*/
    grid-row-start: 8;
    grid-row-end: 9;
}

.column3.row4 {
    /*    background: red;*/
    grid-row-start: -1;
    grid-row-end: -2;
    line-height: 1.75rem;
}

/* HOVER */

p:hover {
    color: blue;
}

.shape:hover {
    color: darkblue;
    background: orangered;      
}
